mixin tile-podium(brand)
  article.o-tile.brad-4.shadbox-light
    .o-tile__infos--long.d-row-flex.d-flex-spacebet.d-flex-vm.p-1.pt-05.pb-05
      a(href="#").no-link.d-row-flex.d-flex-spacebet.d-flex-vm
        img(src=brand.logo alt="logo").o-tile__logo--long.b-1.brad-100
        span.va-mid
          span.pl-1.f-stm.pr-05.f-bold= brand.brand
          span.f-cap.f-stl.f-lgrey.f-reg= brand.desc
        
      a(href="#").no-link
        span.o-more
        
    .o-tile__pictures
      each pic in brand.pictures
        a(href="#").p-rel
          img(src=pic, alt="")
          .o-ico-sprite

    .o-tile__infos--long.p-1.pt-05.pb-05.f-right
      span.f-light.f-lgrey.f-sxs= brand.gifts
