mixin tile(type, brand, state)
  article.o-tile.o-tile-grided.brad-4.shadbox-light
    a(href="./contest.html").no-link
    
      //- affichage damier
      if(type === "closed")
        //- svg(viewBox="0 0 395.5 240.38")
        //-   use(xlink:href="#img-finish")
        img(srcset="./assets/img/flag@2x.png 2x, ./assets/img/flag@1x.png 1x" src="./assets/img/flag@1x.png").o-tile-closingimg.p-abs.p-init.w-60

          
      img(src=brand.ban, alt="").full-width
      .o-tile__info
        img(src=brand.logo alt="logo").o-tile__logo.b-10.brad-100
        h2.o-tile__name.p-hcenter-rel.f-cap.f-st= brand.brand
        h3.o-tile__desc.p-hcenter-rel.f-grey.f-cap.f-light.f-stl= brand.desc
        
        //- affichage infos fin de participation/participation
        case type 
          when "closed"
            .f-bold.f-sfat.f-center.pt-05.pb-05
              | Clotûre des participations
              
            .f-light.pb-05.f-center
              svg(viewBox="0 0 64.22 62.67").o-tile__ico--inline.pb-05.mr-05.va-mid
                use(xlink:href="#ico-gift")
              span.va-mid.f-stl= brand.gifts
            
          when "current"
            ul.d-row-flex.no-list.pt-1.pb-1
              li.p-hcenter-rel.d-flex-eq.f-light.f-si 
                svg(viewBox="0 0 62.37 62.37").o-tile__ico
                  use(xlink:href="#ico-cible")
                span #{brand.target}
              li.p-hcenter-rel.d-flex-eq.pl-1.pr-1.f-light.f-si 
                svg(viewBox="0 0 64.22 62.67").o-tile__ico
                  use(xlink:href="#ico-gift")
                span= brand.gifts 
                
              li.p-hcenter-rel.d-flex-eq.f-light.f-si 
                //- state === "closing" -> pour tile de style fermeture imminente
                svg(viewBox="0 0 60.09 60.09" class={"cf-orange": state === "closing"}).o-tile__ico
                  use(xlink:href="#ico-clock")
                div
                  div(class={"c-grad-yo": state === "closing"}) du #{brand.dateStart}
                  div(class={"c-grad-yo f-stl": state === "closing"}) au #{brand.dateEnd}
    
    //- bouton de vote -> pas en closing
    if(type !== "closed")        
      a(href="/vote.html").o-tile__vote.brad-100
        svg(viewBox="0 0 42 42").o-svgw-ico
          use(xlink:href="#ico-vote") 
