extends ../layout/layout.pug

//- ===== COMPONENTS (& olds) =====
//- include ../components/tile-current.pug 
//- include ../components/tile-closing.pug 
//- include ../components/tile-closed.pug 


block metadata
  - var title = "Profil Julie"
  - var description = "page de profil"
  
append inner

  include ../layout/data.pug
  
  main.o-main.pl-1.pr-1.pb-1
    .o-title.d-row-flex.d-flex-spacebet.d-flex-vm.mb-2
      a(href="/flux.html")
        svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
          use(xlink:href="#ico-arrow")
            
      div.d-row-flex.d-flex-vm
        img(src=profil.portrait).o-profil-pic.brad-100
        span.pl-1.f-bold.f-stm= profil.name
        span.pl-05.f-grey.f-stl= profil.id
      
      button(value="config", type="button")
        svg(viewBox="0 0 35.37 35.35").o-svg-btn.va-mid
          use(xlink:href="#ico-config") 
      
    section.o-profil-pics.d-flex
      each pic in profil.images
        a(href="#" class={"o-profil-pics__img--large": pic.rank === "gold" || pic.rank === "silver"}).o-profil-pics__img.m-025
          img(src=pic.image)
          .o-profil-logo
            img(src=pic.brand).w-100.h-100.brad-100
          div(class={"o-ico-sprite--num": Number.isInteger(pic.rank), "o-ico-sprite--or": pic.rank === "gold", "o-ico-sprite--argent": pic.rank === "silver", "o-ico-sprite--bronze": pic.rank === "bronze"}).o-ico-sprite.o-ico-sprite--little.va-mid.f-center
            if(Number.isInteger(pic.rank))  
              span.p-abs.p-vhcenter-abs.pt-025.f-sxs.f-bold.f-lgrey= pic.rank
      
        
    
    
